<h1 class="mt-4">Welcome <strong><%=query%></strong> </h1>
<p class="lead mb-3">This is your login page, here you can update the existing record </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/update" class="btn btn-secondary">Update</a>
