<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="row mt-3">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <form action="/users/persons" method="POST">
                    <input class="form-control" type="search" id="search" name ="search" placeholder="Enter email" aria-label="Search">
                    <button class="btn btn-primary btn-block mt-2" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
